<div class="modal-header">
    <h3 class="modal-title">{{message|translate}}</h3>
</div>
<div class="modal-body">
    <form name="myForm" class="form-horizontal">
        <tabset class="tab-container">
            <tab ng-repeat="tab in tabs" heading="{{tab.title|translate}}" active="tab.active" disabled="tab.disabled">
                <div ng-include src="tab.content"></div>
            </tab>
        </tabset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{no|translate}}</button>
    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ok()">{{yes|translate}}</button>
</div>