<div class="modal-header">
    <h3 class="modal-title">{{message|translate}}</h3>
</div>

<div class="modal-body">
    <form name="myForm" class="bs-example form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">{{'name'|translate}}</label>
            <div class="col-lg-10">
                <input type="text" ng-model="selection.name" required class="form-control" placeholder="{{'name'|translate}}">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="deleteSelection()"><i class="fa fa-trash-o"></i> {{'delete'|translate}}</button>
    <button class="btn btn-default" ng-click="cancel()">{{no|translate}}</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="myForm.$invalid">{{yes|translate}}</button>
</div>