<div style="position: absolute; left: 50%; top: 50%;" ng-show="loading">
    <img src="/src/img/ring.svg" />
</div>
<div class="panel panel-default" style="overflow-y: auto; height: calc(100vh - 300px); margin-bottom: 5px" ng-show="warnings.length>0">
    <table class="table table-striped m-b-none">
        <thead>
            <tr>
                <th>{{'provider'|translate}}</th>
                <th>{{'sport'|translate}}</th>
                <th>{{'participant'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="warning in warnings" class="table-row-md-sm">
                <td>{{::warning.provider_name}}</td>
                <td>{{::warning.provider_sport_name}}</td>
                <td>{{::warning.provider_participant_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center" ng-show="warnings.length>0">
    <pagination direction-links="false" total-items="totalItems" items-per-page="perPage" ng-model="currentPage" num-pages="maxPages"
        ng-change="onPageChange()" class="m-t-none m-b pagination-2 "></pagination>
</div>
<label ng-show="warnings.length==0&&!loading" class="text-muted" style="position: absolute; top: 50%; left: 50%; width: initial;">{{'warningsNotFound'|translate}}</label>