<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{'marketDisplayGroups'|translate}}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="col-lg-4 no-padding-left no-padding-right">
                        <label>{{'sport'|translate}}</label>
                        <ui-select ng-init="filter.sport=sports[0]; searchMarkets();" ng-model="filter.sport" theme="bootstrap">
                            <ui-select-match placeholder="Select ...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in sports | filter: $select.search">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-lg-4 no-padding-right">
                        <label>{{'marketName'|translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'marketName'|translate}} ...">
                    </div>
                    <div class="form-group col-lg-4 no-padding-right">
                        <label>{{'mappedWith'|translate}}</label>
                        <ui-select ng-init="provider=providers[0]" ng-model="provider" theme="bootstrap">
                            <ui-select-match placeholder="Select ...">
                                {{$select.selected.name | translate}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in providers | filter: $select.search">
                                <span ng-bind-html="item.name | translate | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="float-left full-width">
                        <button class="btn btn-sm btn-success pull-left" ng-click="addMarketTemplate()"><i
                                class="fa fa-plus"></i> {{'add'|translate}}
                        </button>
                        <button class="btn btn-sm btn-primary pull-right" ng-click="searchMarkets()"><i
                                class="fa fa-search"></i> {{'search'|translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-show="markets.length>0" style="overflow-y: auto; height: calc(100vh - 350px);">
            <ul ui-sortable="sortableOptions" ng-model="markets" class="list-group gutter list-group-lg list-group-sp">
                <li class="list-group-item padding-top-5 padding-bottom-10" ng-repeat="market in markets" ng-dblclick="updateMarketTemplate(market)">
                    <div class="pull-right">
                        <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-click="updateMarketTemplate(market)"><i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-click="updateMarketMapping(market)"><i class="fa fa-random"></i>
                        </button>
                        <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-click="deleteMarket(market)"><i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="clear">{{market.name}}</div>
                </li>
            </ul>
        </div>
        <label ng-show="markets.length==0" class="text-center text-muted full-width">{{'noMarketsNotFound'|translate}}</label>
    </div>
</div>